    <div class="columns" id="home">
        <div class="column is-one-quarter">
            <div class="column is-full cardStyle">
                Accounts go here, poplate detailed data to right when selected
                <br> Amex Green | $8.9k | 21.99%
                <br> Car Loan | $16.7k | 1.99% | 4yr
                <br> Mortgage | $345k | 3.625% | 30yr
                <br> Add new account
                <br> Logout
            </div>
        </div>
        <div class="column is-three-quarters">
            <div class="column is-full cardStyle">
                Total debt: ${x} | Monthly interest fees: ${x} | Yearly interest fees ${x}
                <br>Total debt line should stay here and update when accounts are added/modified, display a nice chart breaking down debt by account if no account currently selected to view details.
                <br> ${Individual account data here when selected}<br> ${tables, charts, cool stuf here}<br> Options to change chart type, run payment models<br> IE: Set payment ammount, get time and total cost to payoff | Set time to pay off, get total
                cost and payment amount | Compare savings?
            </div>
        </div>
    </div>