<main>
    <img src="/assets/img/croc.png"><br>
    <sectiion id="companyName">CREDIT CROC</sectiion>
    <section id="companySlogan">Take a bite out of debt!</section>
    <section id="about">Managing your debt is lame. Credit Croc is cool. Credit Croc keeps track of your debt so you don't have to!</section>
    <section id="login"><a href="#">Login</a> | <a href="#">Register</a></secrtion>
</main>